:root {
  color-scheme: light dark;

  --text: light-dark(
    oklch(51.351% 0.02965 305),
    oklch(71.366% 0.01926 260)
  );
  --text-h: light-dark(
    oklch(13% 0.01714 299),
    oklch(97% 0.00298 265)
  );
  --bg: light-dark(
    oklch(100% 0.00011 271),
    oklch( 21% 0.01201 278)
  );
  --border: light-dark(
    oklch(92% 0.00425 300),
    oklch(31% 0.01815 275)
  );
  --code-bg: light-dark(
    oklch(96% 0.00923 100),
    oklch(25% 0.01526 280)
  );
  --star: light-dark(
    oklch(86% 0.17 109),
    oklch(92% 0.17 109)
  );
  --accent: light-dark(
    oklch(61% 0.27 305),
    oklch(72% 0.17 305)
  );
  --accent-bg: light-dark(
    oklch(61% 0.27 305 / 0.1),
    oklch(72% 0.17 305 / 0.15)
  );
  --accent-border: light-dark(
    oklch(61% 0.27 305 / 0.5),
    oklch(72% 0.17 305 / 0.5)
  );
  --social-bg: light-dark(
    oklch(96% 0.00923 100 / 0.5),
    oklch(31% 0.01792 280 / 0.5)
  );
  --shadow: light-dark(
    rgb(0 0 0 / 0.1) 0 10px 15px -3px, rgb(0 0 0 / 0.05) 0 4px 6px -2px,
    rgb(0 0 0 / 0.4) 0 10px 15px -3px, rgb(0 0 0 / 0.25) 0 4px 6px -2px
  );

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1426px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
